<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nmct.howest.be.rideshare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="nmct.howest.be.rideshare.RideshareApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/RideShare.Material" >

        <!--ACTIVITIES-->
        <activity
            android:name="nmct.howest.be.rideshare.Activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nmct.howest.be.rideshare.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nmct.howest.be.rideshare.Activities.SearchActivity"
            android:label="@string/title_activity_zoek"
            android:parentActivityName="nmct.howest.be.rideshare.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nmct.howest.be.rideshare.Activities.MainActivity" />
        </activity>
        <activity
            android:name="nmct.howest.be.rideshare.Activities.DetailsActivity"
            android:label="@string/title_activity_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nmct.howest.be.rideshare.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="nmct.howest.be.rideshare.Activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nmct.howest.be.rideshare.Activities.MainActivity" />
        </activity>
        <activity
            android:name="nmct.howest.be.rideshare.Activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nmct.howest.be.rideshare.Activities.MainActivity" />
        </activity>
        <activity
            android:name="nmct.howest.be.rideshare.Activities.OtherProfileActivity"
            android:label="@string/title_activity_other_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nmct.howest.be.rideshare.Activities.MainActivity" />
        </activity>

        <!--RECEIVER-->
        <receiver
            android:name="nmct.howest.be.rideshare.Services.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <!--SERVICES-->
        <service
            android:name="nmct.howest.be.rideshare.Services.GcmIntentService"
            android:exported="false" />

        <service
            android:name=".Services.SyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />

        </service>

        <service
            android:name=".Services.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!--PROVIDER-->
        <provider
            android:name=".Loaders.Database.Provider"
            android:authorities="nmct.howest.be.rideshare.contentprovider"
            android:enabled="true"
            android:exported="true"
            android:syncable="true">
        </provider>

        <!--META DATA-->
        <meta-data
            android:name="nmct.howest.be.rideshare.webservice.auth.location"
            android:value="http://188.226.154.228:8080" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

    </application>

</manifest>
